@import "_normalize";
@import "_variables";

@import "starter";
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}
